<div id="sign-up">
 {{#if login}}
  <div id="toast-login-suc">
    <div class="alert alert-success" role="alert">
      User was successfully created
    </div>
  </div>
<script>
  const toastElement = document.getElementById("toast-login-suc")
  toastElement.style.display = "flex"
  setTimeout(()=> {
    toastElement.style.display="none"
  },3000)

</script>

   {{/if}}

 <h2 class="bold-title">Log in</h2>
  <form action="/auth/login" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        name="access"
        class="form-control"
        id="floatingInput"
        placeholder="Access"
      />
      <label for="access">Email or username:</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="password">Password:</label>
    </div>
    <br />
    <button class="list-btn">Log in</button>
  </form>
  {{#if error}}
      <p
        style="background-color: rgb(155, 52, 52); color: white; border-radius: 5px; text-align: center; min-width:300px; height: 25px;"
      >{{error}}</p>
    {{/if}}
</div>