<div id="sign-up">
  <h2 class="bold-title">Log in</h2>
  <form action="/auth/login" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        name="access"
        class="form-control"
        id="floatingInput"
        placeholder="Access"
      />
      <label for="access">Email or username:</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="password">Password:</label>
    </div>
    <br />
    <p style="background-color: red">{{error}}</p>
    <button class="list-btn">Log in</button>
  </form>
</div>