<h2 class="bold-title">Hello, {{session.user.username}}</h2>
  <img src="{{session.user.image}}" class="rounded" alt="{{session.user.username}}" width="200px">

<form action="/profile/update" method="POST" enctype="multipart/form-data">
<div class="mb-3">
  <label for="image" class="form-label"></label>
  <input class="form-control" name="image" type="file" id="formFile" style="background-color: lightgray;">
</div>
  <br>
  <button class="list-btn">Add Image</button>
</form>