<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/shows"> <img src="/images/logo-preview.png" alt="" width="80px"></a>
    <a class="nav-link" href="/shows/1/top-shows">Top Rated shows</a>
    <a class="nav-link" href="/shows/1/popular-shows">Popular shows</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shows by Genre
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/shows/1/genre/10759">Action &
                Adventure</a></li>
            <li><a
                class="dropdown-item"
                href="/shows/1/genre/16"
              >Animation</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/35">Comedy</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/80">Crime</a></li>
            <li><a
                class="dropdown-item"
                href="/shows/1/genre/99"
              >Documentary</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/18">Drama</a></li>
            <li><a
                class="dropdown-item"
                href="/shows/1/genre/10751"
              >Family</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10762">Kids</a></li>
            <li><a
                class="dropdown-item"
                href="/shows/1/genre/9648"
              >Mystery</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10763">News</a></li>
            <li><a
                class="dropdown-item"
                href="/shows/1/genre/10764"
              >Reality</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10765">Sci-Fi &
                Fantasy</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10766">Soap</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10767">Talk</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/10768">War &
                Politics</a></li>
            <li><a class="dropdown-item" href="/shows/1/genre/37">Western</a></li>
          </ul>
        </li>
      </ul>
      <div id="search">
      <form action="/shows-search" method= "GET" class="d-flex" role="search" >
      
        <input
          class="form-control me-2"
          type="text"
          name="search"
          id="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>

      {{#if isUserActive}}
       <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >         
          <img
            src={{session.user.image}}
            width="40"
            height="40"
            class="rounded-circle"
          />
          </a>

       <ul class="dropdown-menu">
            <li class="username-dropdown"><p>{{session.user.username}}</p></li>
            <li><a class="dropdown-item" href="/profile">My profile</a></li>
            <li><a class="dropdown-item" href="/profile/lists">My lists</a></li>
            <li><a class="dropdown-item" href="/profile/friends-list">My friends</a></li>
            {{#if isUserAdmin}}
            <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
            {{/if}}
            <li><a class="dropdown-item" href="/auth/logout">Log out</a></li>
      </ul>
      {{else}}
        <a href="/auth/signup"><button class="btn btn-outline">Sign up</button></a>
        <a href="/auth/login"><button class="btn btn-outline">Log in</button></a>
      {{/if}}

    </div>
  </div>
</nav>