{{!-- 
  <a href="/">Home</a>
  
  <a href="/auth/signup">Sign up</a>
  <a href="/auth/login">Log in</a> --}}


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/shows">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="/genrenavbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TV Shows
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/genre">Action & Adventure</a></li>
            <li><a class="dropdown-item" href="/genre">Animation</a></li>
            <li><a class="dropdown-item" href="/genre">Comedy</a></li>
            <li><a class="dropdown-item" href="/genre">Crime</a></li>
            <li><a class="dropdown-item" href="/genre">Documentary</a></li>
            <li><a class="dropdown-item" href="/genre">Drama</a></li>
            <li><a class="dropdown-item" href="/genre">Family</a></li>
            <li><a class="dropdown-item" href="/genre">Kids</a></li>
            <li><a class="dropdown-item" href="/genre">Mystery</a></li>
            <li><a class="dropdown-item" href="/genre">News</a></li>
            <li><a class="dropdown-item" href="/genre">Reality</a></li>
            <li><a class="dropdown-item" href="/genre">Sci-Fi & Fantasy</a></li>
            <li><a class="dropdown-item" href="/genre">Soap</a></li>
            <li><a class="dropdown-item" href="/genre">Talk</a></li>
            <li><a class="dropdown-item" href="/genre">War & Politics</a></li>
            <li><a class="dropdown-item" href="/genre">Western</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>


        
        <a href="/auth/signup"><button class="btn btn-outline-success">Sign up</button></a>
        
       <a href="/auth/login"><button class="btn btn-outline-success">Log in</button></a>
  
    </div>
  </div>
</nav>
