<div id="gradient-background">
  <h1>KEEP YOUR TV</h1>
  <a href="/shows"><button class="btn btn-outline-light">Let's GO!</button></a>
</div>

<script>
  const nav = document.querySelector(".navbar").style.display = "none"
</script>