body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

#body-page{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}
#body-content{
  background-color: #F5F5F5;
  width: 80%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#footer-page {
  width: 80%;
  position: relative;
  left: 10%;
  
}
nav{
  width: 80%;
}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* #shows-by-genre{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#each-show-by-genre{

} */