body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

#body-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#body-content {
  background-color: #f5f5f5;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-page {
  width: 80%;
  position: relative;
  left: 10%;
}

nav {
  width: 80%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.shows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.each-show {
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
  border-radius: 15px;
  align-items: center;
}

.show-data {
  display: flex;
  flex-direction: column;
  background-color: RGB(214, 212, 212, 0.7);
  width: 80%;
  border-radius: 0px 15px 15px 0px;
  height: 200px;
  box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

.each-show img {
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
}

#cast {
  display: flex;
  flex-direction: row;
}

#each-actor {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#img-and-btn {
  display: flex;
  flex-direction: column;
}

#show-details {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

#other-details {
  display: flex;
  flex-direction: column;
  margin:10px;
}

#title-small {
  font-weight: bold;
}

#favorites{
  display:flex;
  flex-direction: row;
}

#each-favorite{
  display:flex;
  flex-direction: column;
  margin: 10px;
}
[id="heart"] {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 3em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}




