

<h1 class="bold-title">Friends</h1>
<div id="friends-list">
{{#each friends}}
<div id="each-friend">
<img src="{{this.image}}" alt="profile-picture" width="200">
<p>{{this.username}}</p>
<p>{{this.role}}</p>
</div>
{{/each}}

</div>