<h3 class="bold-title">Already watched</h3>
<div class="list">
  {{#each watchedShows}}
    <div class="each-list-show">
      <div class="card" style="width: 160px; height:330px">
        <a class="link" href="/shows/{{this.apiId}}/details">
          <img
            src="https://image.tmdb.org/t/p/original/{{this.img}}"
            class="card-img-top"
            alt=""
            width="150px"
            height="240px"
          />
        </a>
        <div class="card-body">

          <h5 class="card-title" style="font-size:14px">{{this.name}}</h5>
        </div>
      </div>
    </div>
  {{/each}}
</div>