<h2>Keep Your TV</h2>

<div id="news">

</div>

<div id="popular">

  {{#each arrData}}

    <a href="/shows/{{this.id}}/details">
      <img
        src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
        alt=""
        width="200px"
      />
    </a>
    <p>{{this.name}}</p>

  {{/each}}

</div>